# Project exclude paths
/.gradle/

**/**.class
**/**.bin
**/**/build
**/**/.idea

/application/build/
/application/build/classes/java/main/
/application/build/classes/java/test/
/library/build/
/library/build/classes/java/main/
/library/build/classes/java/test/
/api/build/libs/api-0.0.1-SNAPSHOT.jar
/api/build/libs/api-0.0.1-SNAPSHOT-plain.jar
/api/build/resources/main/application.properties
/api/build/reports/tests/test/css/base-style.css
/services/build/reports/tests/test/css/base-style.css
/api/build/bootJarMainClassName
/api/build/bootRunMainClassName
/api/.gradle/buildOutputCleanup/buildOutputCleanup.lock
/services/.gradle/buildOutputCleanup/buildOutputCleanup.lock
/api/.gradle/buildOutputCleanup/cache.properties
/services/.gradle/buildOutputCleanup/cache.properties
/api/.gradle/7.4/checksums/checksums.lock
/services/.gradle/7.4/checksums/checksums.lock
/api/build/classes/java/main/com/maatlabs/application/DemoApplication.class
/api/build/classes/java/test/com/example/multimodule/application/DemoApplicationTest.class
/api/.gradle/7.4/dependencies-accessors/dependencies-accessors.lock
/services/.gradle/7.4/dependencies-accessors/dependencies-accessors.lock
/services/.gradle/7.4/executionHistory/executionHistory.bin
/services/.gradle/7.4/executionHistory/executionHistory.lock
/services/.gradle/file-system.probe
/services/.gradle/7.4/fileHashes/fileHashes.bin
/api/.gradle/7.4/fileHashes/fileHashes.lock
/services/.gradle/7.4/fileHashes/fileHashes.lock
/api/.gradle/7.4/dependencies-accessors/gc.properties
/api/.gradle/7.4/gc.properties
/api/.gradle/vcs-1/gc.properties
/services/.gradle/7.4/dependencies-accessors/gc.properties
/services/.gradle/7.4/gc.properties
/services/.gradle/vcs-1/gc.properties
/api/build/reports/tests/test/index.html
/services/build/reports/tests/test/index.html
/api/.gradle/7.4/fileChanges/last-build.bin
/services/.gradle/7.4/fileChanges/last-build.bin
/api/build/tmp/bootJar/MANIFEST.MF
/api/build/tmp/jar/MANIFEST.MF
/services/build/tmp/jar/MANIFEST.MF
/services/build/classes/java/main/com/maatlabs/service/MyService.class
/services/build/classes/java/test/com/maatlabs/service/MyServiceTest$TestConfiguration.class
/services/build/classes/java/test/com/maatlabs/service/MyServiceTest.class
